.folder, .App-content{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#custom-search-input {
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: initial;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

.breadcrumbs{
  float: left;
  margin-top: 15px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.breadcrumbsComponent a{
  cursor: pointer;
}

.App-content{
  min-height: 87vh;
}

.foother > .counts{
   padding-top: 10px;
}

ul {
  margin: 0;
  padding-left: .5em;
  list-style-type: none; 
}

li {
    cursor: pointer;
    padding-left: .5em;
    border-radius: 4px;
}

.App-logo {
  float: right;
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

div.row { 
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div .row .sidebarCatalogsTree{
  margin-bottom: -9999px;
  padding-bottom: 9999px;  
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div .row .contentCatalogsTree{
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



