.folder{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebarCatalogsTree{
  
}

ul {
  margin: 0;
  padding-left: .5em;
  list-style-type: none; 
}

li {
    cursor: pointer;
    padding-left: .5em;
    border-radius: 4px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
